[Unit]
Description=Lora Packet Forwarder
After=syslog.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/single_chan_pkt_fwd/
ExecStart=/opt/single_chan_pkt_fwd/single_chan_pkt_fwd 
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
